alembic==1.13.3
boto3==1.35.38
botocore==1.35.38
feedgen==1.0.0
Flask==3.1.0
Flask_Cors==5.0.0
Flask_Migrate==4.0.7
flask_sqlalchemy==3.1.1
google_auth_oauthlib==1.2.0
langchain==0.3.25
openai==1.78.1
protobuf==6.30.2
PyJWT==2.8.0
PyJWT==2.10.1
python-dotenv==1.1.0
python_dateutil==2.9.0
pytz==2024.1
Requests==2.32.3
shortuuid==1.0.13
SQLAlchemy==2.0.36
SQLAlchemy_serializer==1.4.1
stripe==8.7.0
tiktoken==0.5.2
Werkzeug==3.1.3
